set (autostart ${PLUGIN_MIRACASTPLAYER_AUTOSTART})
set (preconditions Platform)
set (callsign "org.rdk.MiracastPlayer")

if(PLUGIN_MIRACASTPLAYER_STARTUPORDER)
set (startuporder ${PLUGIN_MIRACASTPLAYER_STARTUPORDER})
endif()

map()
    key(root)
    map()
        kv(mode ${PLUGIN_MIRACASTPLAYER_MODE})
        kv(locator lib${PLUGIN_IMPLEMENTATION}.so)
    end()
end()
ans(configuration)